<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>GeniusWeb Run Server</display-name>

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<!-- List files in /ws-definitions -->
		<servlet-name>viewlogs</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>RunNego</servlet-name>
		<display-name>RunNego</display-name>
		<description>run a new session</description>
		<servlet-class>geniusweb.runserver.RunNego</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Info</servlet-name>
		<display-name>Info</display-name>
		<description>get info</description>
		<servlet-class>geniusweb.runserver.Info</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>viewlogs</servlet-name>
		<url-pattern>/log/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RunNego</servlet-name>
		<url-pattern>/run</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Info</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>

</web-app>
