
th {
	padding: 15px;
}

#domainsTable {
	width: 100%;
	border: 1px solid black;
	border-collapse:collapse;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

aa {
 	color: blue;
	text-decoration: underline;
}

tr:nth-child(even) {background: #DDD}
tr:nth-child(odd) {background: #FFF}